<div class="container p-3 my-4 bg-light">
  <h2 style="color:blue">Ingrese Producto</h2>
  <form action="/productos" method="POST" onsubmit="return sendProduct()" id="formProducts">
    <div class="mb-3 mt-3">
      <label for="title" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="title" placeholder="Ingrese el nombre del producto" name="title" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="description" class="form-label">Descripción</label>
      <input type="text" class="form-control" id="description" placeholder="Ingrese la descripción del producto" name="description" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="code" class="form-label">Código</label>
      <input type="text" class="form-control" id="code" placeholder="Ingrese el código del producto" name="code" required>
    </div>
    <div class="mb-3">
      <label for="photo" class="form-label">Foto URL</label>
      <input type="url" class="form-control" id="thumbnail" placeholder="Ingrese imagen" name="thumbnail" required>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input type="number" class="form-control" id="price" placeholder="Ingrese precio" name="price" required>
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input type="number" class="form-control" id="stock" placeholder="Ingrese el stock del producto" name="stock" required>
    </div>
    <button type="submit" class="btn btn-success" id="send">Cargar producto</button>
  </form>
</div>

<div class="container p-3 my-4 bg-light" >
    <h2 style="color:blue">Vista de Productos</h2><br>
    <table class="table table-dark" >
        <thead id="titles">
        </thead>
        <tbody id="listProducts">
        </tbody>
    </table>
</div>

{{!-- <div class="container p-3 my-4 bg-light"> --}}
{{!--   <h2 style="color:blue">Centro de mensajes</h2> --}}
{{!--   <form onsubmit="return sendMessage()"> --}}
{{!--     <div class="mb-3 mt-3"> --}}
{{!--       <input type="email" class="form-control" id="email" placeholder="Ingrese su email" required/> --}}
{{!--     </div> --}}
{{!--     <div id="messages"></div> --}}
{{!--     <div class="mb-3 mt-3"> --}}
{{!--       <input type="text" class="form-control" id="text" placeholder="Ingresá un mensaje"/> --}}
{{!--     </div> --}}
{{!--     <button type="submit" class="btn btn-primary">Enviar mensaje</button> --}}
{{!--   </form> --}}
{{!-- </div> --}}
