<div class="container p-3 my-4 bg-light">
  <h2 style="color:blue">Centro de mensajes</h2>
  <form onsubmit="return sendMessage()">
    <div class="mb-3 mt-3">
      <input type="email" class="form-control" id="email" placeholder="Ingrese su email" required/>
    </div>
    <div id="messages"></div>
    <div class="mb-3 mt-3">
      <input type="text" class="form-control" id="text" placeholder="Ingresá un mensaje"/>
    </div>
    <button type="submit" class="btn btn-primary">Enviar mensaje</button>
  </form>
</div>
